* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 90px 203px;
  background-color: #21222D;
  color: #ffffff;
}

@media (max-width: 1440px) {
  body {
    margin: 62px 148px;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 41px 30px;
  }
}